.card{
    height: 670px;
}

.card-img-top{
    width: 100%;
    height: 270px;
    object-fit: contain;
}
@media screen and (max-width: 800px) {
    .card{
        height: 520px;
    }
    .card-img-top{
        height: 180px;
    }
}
@media screen and (max-width: 480px) {
    .card{
        height: 520px;
    }
    .card-img-top{
        height: 160px;
    }
}