
#portada{
    width: 100%;
    height: 23rem;
}

#principal{
    margin-top: 3rem;
}

#reference{
    width: 60%;
    height: 25rem;
    object-fit: cover;
    border-radius: 15px;
}
@media screen and (max-width: 800px) {
 
    #portada{
        height: 13rem;
    }
    #reference{
        height: 13rem;
    }
}
@media screen and (max-width: 480px) {
    #portada{
        height: 9rem;
    }
    #reference{
        width: 50%;
        height: 10rem;
    }
    #pres{
        margin-top: 2rem;
    }
}