@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
a{
    font-family: 'Abyssinica SIL', serif;
}


#nav a{
    color: whitesmoke;
  }
  
#nav a.active {
    background-color: #00916E;
    border-radius: 2px;
    color: white;
  }
#log{
  border-radius: 4px;
  width: 70px;
  height: 40px;
}