#error{
    width: 100%;
    height: 30rem;
    border-radius: 15px;
}

@media screen and (max-width: 800px) {
    #error{
        width: 80%;
        height: 20rem;
    }
}
@media screen and (max-width: 480px) {
  #error{
    width: 75%;
    height: 15rem
  };
}